<div class="what-is-rmc-wrapper-container">
    <div class="what-is-rmc-image-wrapper-container display-flex">
        <div class="what-is-rmc-image-container">
            <img src="../../../assets/what-is-rmc.png">
        </div>
        <div class="what-is-rmc-content-container">
            <div class="what-is-rmc-heading-container">
                <h1>What Is RMC ?</h1>
            </div>
            <div class="what-is-rmc-description-container">
                <p>RMC's full form is Ready Mixed Concrete. It is manufactured in a batching plant or factory
                    according to the standard specifications that are required. After being prepared it is delivered
                    to the construction location in two different ways. The first way is using in-transit mixers
                    which deliver the concrete mixture in a plastic state to the location. The second way is by
                    using volumetric concrete mixer which delivers the material in the dry state and mixes it on the
                    site.</p>
            </div>
            <div class="what-is-rmc-bullet-points-container">
                <div class="first-two-points display-flex-jc-sb">
                    <div class="first-point-container display-flex ">
                        <div class="tick-container align-content-center">
                            <img src="../../../../assets/what-is-rmc-gold-color-tick.svg" alt="tick">
                        </div>
                        <div class="text-container">
                            <p>Customer Centricity</p>
                        </div>
                    </div>
                    <div class="second-point-container display-flex ">
                        <div class="tick-container align-content-center">
                            <img src="../../../../assets/what-is-rmc-gold-color-tick.svg" alt="tick">
                        </div>
                        <div class="text-container">
                            <p>High Quality Specifications</p>
                        </div>
                    </div>
                </div>
                <div class="last-two-points-container display-flex-jc-sb">
                    <div class="third-point-container display-flex ">
                        <div class="tick-container align-content-center">
                            <img src="../../../../assets/what-is-rmc-gold-color-tick.svg" alt="tick">
                        </div>
                        <div class="text-container">
                            <p>Transparent Communication with Stakeholders</p>
                        </div>
                    </div>
                    <div class="fourth-point-container display-flex ">
                        <div class="tick-container align-content-center">
                            <img src="../../../../assets/what-is-rmc-gold-color-tick.svg" alt="tick">
                        </div>
                        <div class="text-container">
                            <p>Environmental Sustainability</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-ranges-container">
                <div class="other-ranges-heading-container">
                    <h1 class="jost-regular color-white"><u>
                            Our other range of RMCs
                        </u>
                    </h1>
                </div>
                <div class="other-ranges-description-container">
                    <div class="items-container saira-semi-condensed-regular">
                        . High grade Concrete     . Slab Concrete for IHB / Residential     . Self-Compacting
                        Concrete     . Smart Dynamic Concrete       . Green
                        Concrete     . Colour Concrete     . Stamp Concrete     . Light weight Concrete     . Bag
                        Concrete     . Fiber Reinforced Concrete (PP
                        Fiber)     . Fiber Reinforced Concrete (Steel Fiber)     . Temperature Control Concrete
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>