<div class="about-us-page-wrapper-container">
    <div class="about-us-page-container">
        <div class="about-us-first-section-wrapper-container">
            <div class="about-us-page-heading-container">
                <h1>About Us</h1>
            </div>
            <div class="about-us-first-section-container">
                <img class="max-width-100" src="../../../assets/about_us_page_image.png">
                <!-- <div class="image-ab-container">
                </div> -->
            </div>
        </div>
        <div class="about-us-second-section-wrapper-container">
            <div class="about-us-second-section-container display-flex">
                <!-- <div class="additional-container">
                    <p>Just for styling</p>
                </div> -->
                <div class="vaishnavi-logo-and-additional-container">
                    <div class="vaishnavi-logo-cotainer">
                        <img src="../../../assets/vaishnavi_white_image.png">
                    </div>
                </div>
                <div class="why-us-wrapper-container">
                    <div class="why-us-heading">
                        <p>Why Us</p>
                    </div>
                    <div class="our-company-heading">
                        <h2>Our Company</h2>
                    </div>
                    <div class="para-content-one-container">
                        <p>Ever wondered what it would be like to live by the lake & on the 42nd Floor?</p>
                    </div>
                    <div class="para-content-two-container">
                        <p>Vaishnavi Ready Mix has built a reputation for delivering reliable and consistent concrete
                            solutions. Whether it's for roads, bridges, or residential buildings, we ensure our products
                            meet the toughest construction requirements. With a focus on quality, efficiency, and
                            sustainability, we aim to be your trusted partner in every build.</p>
                    </div>
                    <div class="why-us-button-container">
                        <button type="button">Download Brochure</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="about-us-third-section-wrapper-container">
            <div class="about-us-third-section-container text-align-center">
                <h1>Strength, Reliability, and Quality in Every Pour.</h1>
            </div>
        </div>
        <div class="about-us-fourth-section-wrapper-container">
            <div class="about-us-fourth-section-container display-flex">
                <div class="about-us-fourth-section-left-wrapper-container">
                    <div class="about-us-fourth-section-left-container">
                        <div class="images-container">
                            <div class="big-image-container">
                                <img src="../../../assets/vision_mission_truck_image.png">
                            </div>
                            <div class="two-in-one-container">
                                <div class="medium-size-container-one">

                                </div>
                                <div class="small-size-container">

                                </div>
                            </div>
                            <div class="medium-size-container-two">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-us-fourth-section-right-wrapper-container">
                    <div class="our-contempt-container">
                        <p>Our Contempt</p>
                    </div>
                    <div class="vision-and-mission-container">
                        <h1>
                            Vision & Mission</h1>
                    </div>
                    <div class="vision-heading-and-description-container">
                        <div class="vision-heading-container">
                            <h1>" Vision</h1>
                        </div>
                        <div class="vision-description-container">
                            <p>To be a leading provider of sustainable and high-quality concrete solutions, setting new
                                benchmarks in the construction industry through innovation, reliability, and customer
                                satisfaction</p>
                        </div>
                    </div>
                    <div class="mission-heading-and-description-container">
                        <div class="mission-heading-container">
                            <h1> Mission</h1>
                        </div>
                        <div class="mission-description-container">
                            <ul>
                                <li *ngFor="let item of missionListItems">
                                    {{item.description}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us-fifth-section-wrapper-container">
            <div class="about-us-fifth-section-container">
                <div class="founder-image-and-description-wrapper-container display-flex">
                    <div class="founder-description-container">
                        <div class="our-leaders-text-container">
                            <h6>Our Leaders</h6>
                        </div>
                        <div class="founder-text-container">
                            <h1>Founder</h1>
                        </div>
                        <div class="founder-description-container">
                            <p>
                                approach combines traditional craftsmanship with modern engineering techniques. His
                                commitment to quality, integrity, and customer satisfaction has been the cornerstone of
                                the company's growth and reputation in the market.
                            </p>
                        </div>
                        <hr>
                        <div class="designated-partner-text-container">
                            <h6>Designated Partner & MD MR. Ramesh</h6>
                        </div>
                    </div>
                    <div class="founder-image-container">
                        <img src="../../../assets/founder_image.png">
                        <div class="background-div-container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>