<div class="media-card-component-wrapper-container">
    <div class="media-card-wrapper-container">
        <ng-container *ngFor="let card of cards">
            <div class="media-component-container">
                <div class="image-container">
                    <img [src]="card.path">
                </div>
                <div class="description-container">
                    <h1>{{card.description}}</h1>
                </div>
                <div class="location-container">
                    <p>{{card.location}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>