<div class="main-page-content-component-wrapper-container">
    <div class="main-page-content-component-container">
        <div class="image-container flex-wrap">
            <!-- <div class="img-m-container">
                <img src="../../../../assets/vaishnavi_first_img_machinery.png">
            </div> -->
            <div class="content-container">
                <div class="heading-container">
                    <h2 class="speciality-heading">
                        Speciality concrete solutions for the most demanding projects
                    </h2>
                </div>
                <div class="sub-text-container">
                    <p>
                        RMC's full form is Ready Mixed Concrete. It is manufactured in a batching plant or factory
                        according to the standard specifications that are required. After being prepared it is delivered
                        to the construction location in two different ways.
                    </p>
                </div>
            </div>
            <div class="enquire-now-button-container">
                <div class="button-container min-height-50 display-flex">
                    <div class="button-original-container">
                        <button type="button" (click)="enquireNowButtonClickHandler()">
                            Enquire Now
                        </button>
                    </div>
                </div>
                <div class="whatsapp-button-container">
                    <div class="whatsapp-button">
                        <a href="https://wa.me/9494356350">Whatsapp</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us-wrapper-container display-flex-jc-sb">
            <div class="about-us-container">
                <div class="about-us-heading-container poppins-regular">
                    About Us
                </div>
                <div class="why-choose-us-wrapper-container">
                    <div class="why-choose-us-container libre-caslon-display-regular">
                        <h2 class="speciality-heading">
                            WHY CHOOSE US FOR PROJECTS!
                        </h2>
                    </div>
                    <hr>
                    <div class="why-choose-us-description-container glory-regular">
                        <p>
                            Vaishnavi RMC manufactures and develops customized solutions based on thorough research and
                            extensive knowledge of concrete technology. Vaishnavi RMC is known for superior service
                            enabled by digital tools, along with an ISO Certified process that guarantees consistent
                            quality and timely delivery across its 06 plants spread across 4 states.
                        </p>
                    </div>
                    <div class="numbers-wrapper-container">
                        <div class="numbers-container">
                            <div class="first-row-numbers-container">
                                <div class="first-row text-align-center">
                                    <div class="number-of-clients">
                                        <h1 class="golden-color">
                                            2K
                                        </h1>
                                    </div>
                                    <div class="number-of-clients-text">
                                        <h4 class="fw-300-fs-18px">
                                            HAPPY Clients
                                        </h4>
                                    </div>
                                </div>
                                <div class="first-row-second-item-container text-align-center">
                                    <div class="number-of-tonnes-extracted-container">
                                        <h1 class="golden-color">1.5M</h1>
                                    </div>
                                    <div class="tonnes-extracted-text-container">
                                        <h4 class="fw-300-fs-18px">Tonnes Extract</h4>
                                    </div>

                                </div>
                            </div>
                            <div class="second-row-numbers-container">
                                <div class="second-row-first-item text-align-center">
                                    <div class="projects-completed-container">
                                        <h1 class="golden-color">75</h1>
                                    </div>
                                    <div class="projects-completed-text-container">
                                        <h4 class="fw-300-fs-18px">
                                            PROJECTS COMPLETED
                                        </h4>
                                    </div>
                                </div>
                                <div class="second-row-second-item text-align-center">
                                    <div class="sqft-upcoming-projects-container">
                                        <h1 class="golden-color">5 M</h1>
                                    </div>
                                    <div class="sqft-upcoming-projects-text-container">
                                        <h4 class="fw-300-fs-18px">SQFT UPCOMING PROJECTS</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-us-images-wrapper-container">
                <div class="about-us-images-container">
                    <img src="../../../../assets/why_choose_us.png">
                    <div class="images-container">
                        Images
                    </div>
                </div>
                <div class="carousel-images-container">
                    Images
                </div>
            </div>
        </div>

        <div class="we-are-text-wrapper-container">
            <div class="we-are-text-container">
                <h2 class="text-align-center">We Are..</h2>
            </div>
        </div>

        <div class="worker-video-playback-image-container">
            <div class="worker-image-container">
            </div>
        </div>

        <div class="pride-of-vaishnavi-wrapper-container">
            <div class="dummy-div">

            </div>
            <div class="pride-of-vaishnavi-container">
                <h1 class="pride-of-vaishnavi">THE PRIDE OF VAISHNAVI</h1>
                <div class="bricks-container">
                    <div class="bricks-button-container">
                        <button type="button">Bricks</button>
                    </div>
                    <div class="cement-bricks-button-container">
                        <button type="button">Cement Bricks</button>
                    </div>
                </div>
            </div>
            <div class="pride-of-vaishnavi-description-container">
                <p>Ultra-luxe, self-sustaining apartments that combine prime location, sound infrastructure, and
                    best-in-class amenities, bringing economic prosperity and tremendous value to the residents.</p>
            </div>

        </div>

        <div class="bricks-buttons-container">
            <div class="bricks-button-container">
                <button type="button">Bricks</button>
            </div>
            <div class="mrk-bricks-container">
                <button type="button">MRK Bricks</button>
            </div>
        </div>
        <hr>

        <div class="bricks-images-container">
            <div class="vaishanvi-bricks-image-wrapepr-container">
                <div class="vaishnavi-bricks-image-container">
                    <img class="max-width-100" src="../../../../assets/cement-bricks.png">
                </div>
            </div>
            <div class="mrk-bricks-image-wrapper-container">
                <div class="mrk-brick-image-container">
                    <img class="max-width-100" src="../../../../assets/MRK-bricks.png">
                </div>
            </div>
        </div>

        <div class="what-is-rmc-image-and-content-wrapper-container">
            <app-what-is-rmc></app-what-is-rmc>
        </div>

        <div class="our-vehicles-wrapper-container">
            <div class="our-vehicles-container">
                <div class="our-vehicles-heading-container">
                    <h1>Our Vehicles</h1>
                </div>
                <div class="our-vehicles-images display-flex">
                    <ng-container *ngFor="let image of ourVehiclesImages">
                        <div class="our-vehicles-image-container display-flex">
                            <img class="max-width-100" [src]=image.path>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="professional-details-with-numberes-wrapper-container">
            <div class="professional-details-with-numberes-container display-flex-jc-sa ">
                <div class="years-in-industry-container">
                    <div class="years-number-container">
                        <h1>33 +</h1>
                    </div>
                    <div class="years-text-container">
                        <p>Years In The Industry</p>
                    </div>
                </div>
                <div class="projects-completed-in-industry-container">
                    <div class="projects-completed-number-container">
                        <h1>60+</h1>
                    </div>
                    <div class="projects-completed-text-container">
                        <p>Projects completed</p>
                    </div>
                </div>
                <div class="residents-container">
                    <div class="residents-number-container">
                        <h1>10,000+</h1>
                    </div>
                    <div class="residents-text-container">
                        <p>Residents</p>
                    </div>
                </div>
                <div class="concrete-completed-container">
                    <div class="concrete-completed-number-container">
                        <h1>
                            7
                        </h1>
                    </div>
                    <div class="concrete-completed-text-container">
                        <p>
                            million Concrete Completed
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="running-towards-sustainability-wrapper-container">
            <div class="running-towards-sustainability-container display-flex">
                <div class="running-towards-sustainability-image-container">
                    <img src="../../../../assets/running_towards_sustainability_hands_img.png">
                </div>
                <div class="running-towards-sustainability-description-wrapper-container">
                    <div class="running-towards-sustainability-description-container">

                        <div class="running-towards-sustainability-heading-container">
                            <h1 class="fw-400">RUNNING TOWARDS SUSTAINABILITY</h1>
                        </div>
                        <div class="running-towards-sustainability-content-container">
                            <p>RMC's full form is Ready Mixed Concrete. It is manufactured in a batching plant or
                                factory according to the standard specifications that are required. After being prepared
                                it is delivered to the construction location in two different ways. The first way is
                                using in-transit mixers which deliver the concrete mixture in a plastic state to the
                                location. The second way is by using volumetric concrete mixer which delivers the
                                material in the dry state and mixes it on the site.</p>
                        </div>
                        <div class="running-towards-sustainability-logos-container display-flex-jc-sa">
                            <ng-container *ngFor="let image of runningTowardsSustanabilityLogos">
                                <img class="running-towards-sustanability-image" [src]="image.path">
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="our-main-usps-wrapper-container">
            <div class="our-main-usps-container">
                <!-- <div class="our-main-usps-top-row display-flex-jc-sa">
                    <div class="main-usp-heading-container min-width-50">
                        <h1>Our Main USP's</h1>
                    </div>
                    <div class="explore-all-button-contianer min-width-50 max-width-50">
                        <button class="" type="button">Explore All Services</button>
                    </div>
                </div> -->
                <div class="our-main-usps-cards-container">
                    <!-- <app-usp-card [cardDetails]="uspCardDetails"> </app-usp-card> -->
                </div>
                <!-- <div class="link-container">
                    <button type="button">Link</button>
                </div> -->
            </div>
        </div>

        <div class="products-grade-wrapper-container">
            <div class="products-grade-container">
                <div class="products-grade-heading-container text-align-center">
                    <h1>PRODUCTS GRADE</h1>
                </div>
            </div>
        </div>

        <div class="mixers-types-wrapper-container">
            <div class="mixers-type-container display-flex">
                <div class="mixers-list-left-nav-wrapper-container">
                    <div class="mixers-list-left-nav-container display-flex-jc-sa flex-direction-column height-100">
                        <ul class="display-flex-jc-sa flex-direction-column height-100">
                            <li *ngFor="let item of mixersTypes" (click)="loadDynamicComponent(item)">
                                <!-- <a href={{item.name}}>{{item.name}}</a> -->
                                {{item.name}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="mixers-right-side-details-wrapper-container">
                    <div class="mixers-right-side-details-container">
                        <ng-container *ngIf="initialMix">
                            <app-mixers-dynamic [mixerDetails]="mixerInitial"></app-mixers-dynamic>
                        </ng-container>
                        <ng-container #dynamicComponent></ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-videos-wrapper-container">
            <div class="site-videos-container">
                <div class="site-videos-heading-container text-align-center">
                    <h1>Our Site Gallery</h1>
                </div>
            </div>
            <div class="site-videos-container">
                <div class="site-videos">
                    <div class="screenshot">
                        <img class="width-100" src="../../../../assets/client_videos_screenshot.png">
                    </div>
                </div>
            </div>
            <div class="watch-all-videos-button-container">
                <div class="watch-all-videos-button text-align-center">
                    <button class="transparent-button" type="button">
                        Watch All Videos
                    </button>
                </div>
            </div>
        </div>

        <div class="testimonals-wrapper-container">
            <div class="testimonals-left-container">
                <div class="testimonals-heading">
                    <p>Testimonals</p>
                </div>
                <div class="testimonals-text">
                    <h1>Where Dreams Find Their Perfect Address</h1>
                </div>
            </div>
            <div class="testimonals-container-two width-100 height-50">
                <div class="container-two-part-one">
                    <div class="excellency-container">
                        <h3>Excellency of Quality Standards</h3>
                    </div>
                    <div class="bottom-middle-mix-name">
                        <p>Rhidia Sheik</p>
                    </div>
                    <div class="bottom-middle-designation">
                        <p>Product Manager</p>
                    </div>
                </div>
                <div class="container-two-part-two height-100">
                    <div class="image-and-text-container display-flex height-100">
                        <div class="image-container-b height-100">
                            <img class="height-100" src="../../../../assets/testimonal_photo.png">
                        </div>
                        <div class="text-container">
                            <p>I couldn't have asked for a better place to call home than Vaishnavi RMC. From the moment
                                I Connected into this vibrant community, I knew I had made the right choice. Everything
                                here exceeded all my expectations, offering a perfect blend of Working. What truly sets
                                Vaishnavi RMC One apart is the sense of belonging it provides - the friendly neighbours,
                                the top-notch Machinery, and the beautifully Site surroundings.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ready-to-work-with-us-wrapper-container height-50">
            <!-- <div class="ready-to-work-with-us-container"> -->
            <div class="ready-to-work-heading-and-text-container">
                <div class="ready-to-work-heading-container">
                    <h3>Ready To Work With Us?</h3>
                </div>
                <div class="ready-to-work-text-container">
                    <p>Visit our Site Location and get in touch with us!</p>
                </div>
                <div class="get-in-touch-button-container">
                    <button type="button">
                        Get in Touch
                    </button>
                </div>
            </div>
            <div class="ready-image-contaienr">
                <img src="../../../../assets/ready_to_work.png">
            </div>
            <!-- </div> -->
        </div>

        <!-- <div class="footer-wrapper-container height-100">
            <div class="footer-container height-100">
                <app-footer></app-footer>
            </div>
        </div> -->
    </div>