.office-location-business-solutions-container {
    background: #F8F9FA;
    justify-content: end;
    padding-inline: 11rem;
    gap: 2rem;

    .office-location-container {}

    .office-location-container>a {
        text-decoration: none;
    }

    color: rgb(112, 8, 149);

    .business-location-container {
        padding-inline: 1rem;
        background-color: #DE4A49;
        color: white
    }
}

@media only screen and (max-width:768px) {
    .office-location-business-solutions-container {
        padding-inline: 0;
    }
}