<div class="office-location-business-solutions-container display-flex">
    <div class="office-location-container">
        <!-- <i class="fa fa-cog fa-spin"></i>
        <i class="fa-solid fa-location-dot"></i> -->
        <!-- <a href="https://g.co/kgs/QpxyEuq" target="_blank">
        </a> -->
        <a href="https://g.co/kgs/QpxyEuq" target="_blank">
            <p><b>Office Location</b></p>
        </a>
    </div>
    <!-- <div class="business-location-container">
        <p>
            <b>Business Solutions</b>
        </p>
    </div> -->
</div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>