.media-component-wrapper-contanier {
    
    // height: 35rem;
    .media-content-container {
        .media-heading-container>h1 {
            background-image: url(../../../assets/media_bg.png);
            color: white;
            padding:8rem;
            background-size: 100% 100%;
        }

        .media-cards-wrapper-container {}
    }
}